{
  "presets": [
    [
      "@babel/preset-env",
      {
        // Allow @babel/preset-env to import polyfills from corejs
        // instead of inlining helpers.
        "useBuiltIns": "usage",
        // Help @babel/preset-env make use of the correct corejs polyfills.
        "corejs": "3.9",
        // Enable parsing of proposals which are shipped in browsers
        // but may require transforms.
        "shippedProposals": true,
        // Enable loose mode for all plugins that support them.
        "loose": true,
        // Perform transforms the closest to our targets.
        "bugfixes": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "useSpread": true
      }
    ],
    // The "all" property is needed for Flow to properly parse the syntax. It has
    // trouble understanding when the flow comment is the second comment.
    // See: https://github.com/babel/babel/issues/9845
    [
      "@babel/preset-flow",
      {
        "all": true
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "firefox-profiler": "./src"
        }
      }
    ]
  ]
}