{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current",
          "browsers": "last 2 chrome versions, last 2 firefox versions"
        },
        "modules": false
      }
    ],
    "react",
    "flow"
  ],
  "plugins": [
    [
      "transform-class-properties"
    ]
  ]
}
